<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Editar Usuário</h1>
    <form action="/edit/<%= user.id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div>
            <label for="age">Idade: </label>
            <input type="number" id="age" name="age" value="<%= user.age %>" required>
        </div>
        <div>
            <button type="submit">Atualizar Usuário</button>
        </div>
    </form>

    <a href="/">Voltar</a>
</body>